/* ------------------------------------------------------------------------------------------------------------------------------- */
                                                              /* ELEMENTES.CSS */
/* ------------------------------------------------------------------------------------------------------------------------------- */
:root{
 --primary-color: #0D0D0D;
 --white: #ffffff ; 
 --gap: 3rem;
 --cinza-metalico:#333333;
 --cinza:#cacaca;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}


 
.white-bg{
  background-color: var(--white);
  color: var(--primary-color);
}
a{
  text-decoration: none ;
}

p{
  margin-bottom: 2rem;
}

.responsiva-table{
  overflow: hidden;
  overflow-x: scroll;
}
table{
  min-width: 36rem;
  width: 100%;
  border-collapse: collapse ;
}

table td,table th{
  white-space: nowrap;
  padding: 0.5rem;
  text-align: left;
  border: 0.1rem solid;
}
table caption{
  font-style: italic;
  font-size: 1.6rem;
  text-align: left;
  margin-bottom: 1rem;
}
tfoot td{
  background: var(--cinza);

}
 body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
} 



h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 6rem;
     text-transform:uppercase ; /*isso vai deixa os texto tudo maisculo */
}

h2{
  font-size: 6rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1.2;
}

h3{
  font-size: 4rem;
}

h4{
  font-size: 4.5rem;
}


h5{
  font-size: 4rem;
}

H6{
    font-size: 3.5rem;
}
/* ------------------------------------------------------------------------------------------------------------------------------- */
                                            /* ---PARTE DO SITE QUE VAI SER REUTILIZADOS---  */
/* ------------------------------------------------------------------------------------------------------------------------------- */

.main-bg{
 background-image: url('../img/unnamed1.jpg');
 background-size: cover; /*ela faz com que a imagem preencha todo o espaço disponível do elemento, sem deixar espaços vazios.*/
 background-position: center center;
 color: white;

}

.main-content{
   max-width: 120rem;
   margin: 0 auto; 
   padding: 10rem var(--gap);
}

.section{
  min-height: 100vh ;
}

body .full-width{
  width: 100%;
  flex: 1 1 100%;
}

/* ------------------------------------------------------------------------------------------------------------------------------- */
                                                          /* ---CSS do menu---  */
/* ------------------------------------------------------------------------------------------------------------------------------- */
.menu{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  border-bottom: 0.1rem solid var(--cinza-metalico);
}

.menu-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.menu h1 {
  font-size: 2.3rem;
  color: var(--primary-color);
}
.menu h1 a{
  color: inherit;
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu ul li a {
  display: block;
  padding: 2rem;
  font-size: 1.8rem;
  color: var(--cinza-metalico);
  position: relative;
}

.menu ul li a::after {
  content: '';
  position: absolute;
  bottom: 1rem ;
  left: 50%;
  width: 0;
  height: 0.2rem;
  background: var(--cinza-metalico);
  transition: all 300ms ease-in-out;
}
.menu ul li a:hover::after {
  width: 50%;
  left: 25%;

}

.menu-spacing{
  height: 7rem;
}


.intro-content{
  position: relative;
  display: grid ;
  grid-template-columns: 1fr 1.5fr;
  gap: var(--white);
  min-height: 100vh ;
}
.intro-text-content {
  display: flex ;
  flex-flow: column wrap;
  justify-content: center;
}

.intro-img img{
  max-width: 100%;
  min-height: 100%;
  top:auto;
}



/* senguda parte do site  */

.top3-content {
  max-width: 64rem;
  display: flex;
  /* flex-flow: column  wrap; */
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.grid-one-content{
  display: flex;
  flex-flow: column  wrap;
  justify-content: center;
  min-height: 100vh;

}

.grid-main-heading{
  margin-bottom: 1rem;
}

.grind-description{
padding-bottom: 5rem;
}

.grid-one-content h2{
margin-bottom: 1rem;

}

.grid{
 display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  counter-reset: grid-counter;
}
.grid h3{
  font-size: 3rem;
  position: relative;
  padding-left: 5rem;
  padding-bottom: 2rem;
}

.grid h3::before{
  counter-increment: grid-counter;
  content: counter(grid-counter);
  position: absolute;
  font-size: 8rem;
  font-style: italic;
  top: -4rem;
  left: -2rem;
  transform: rotate(5deg);
}

/* ------------------------------------------------------------------------------------------------------------------------------- */
                              /* css da gallery */
/* ------------------------------------------------------------------------------------------------------------------------------- */


.gallery-img{
  width: 100%;
  max-width: 36rem;
  max-height: 36rem;
  overflow: hidden;
}

.gallery-img img {
  transition:all 300ms ease-in-out;
}
.gallery-img img:hover{
  transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

/* ------------------------------------------------------------------------------------------------------------------------------- */
                              /* css da contato */
/* ------------------------------------------------------------------------------------------------------------------------------- */
.contact-form {
  grid-column: span 2;
}

.contact-form .form-grid {
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--primary-color);
}
.form-grid legend {
  font-style: italic;
  font-size: 1.6rem;
  margin-bottom: 3rem;
}
.form_group {
  flex: 1 1 300px;
}
.form_group label{
  display: block;
   margin-bottom: 0.8rem;
}
.form_group input,
.form_group textarea{
  border: none;
  background: var(--white);
  padding: 1.5rem 2rem;
  width: 95%;
}

.form_group button{
  border: 0.5rem solid var(--white);
  background: none;
  color: var(--white);
  padding: 1.5rem 2rem;
  font-size: 2rem;
  cursor:pointer;
  transition: all 300ms ease-in-out;
}

.form_group button:hover{
  background: var(--white);
  color:var(--primary-color)
}

.form_group ::placeholder{
  color: var(--cinza);
  font-size: 2.1rem;
}


/* ------------------------------------------------------------------------------------------------------------------------------- */
                                                          /* css footer */
/* ------------------------------------------------------------------------------------------------------------------------------- */

.footer{
  text-align: center;
  font-style: italic;
}

/* ------------------------------------------------------------------------------------------------------------------------------- */
                                                          /* css respansiva  */
/* ------------------------------------------------------------------------------------------------------------------------------- */
.close-menu{
display: none;
}

.back-to-top{
  position: fixed;
  bottom:2rem;
  right: 2rem;
  background: var(--cinza);
  width: 5rem;
  height: 5rem;
  display:5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--primary-color)
}
@media (max-width: 821px){
  .intro-content , .grid{
    grid-template-columns: 1fr;
  }
  .gallery-img{
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
  }
  .gallery-img img{
    width: 100%;
 }
 .grid-one-content{
  display: block;
 }

/* ------------------------------------------------------------------------------------------------------------------------------- */
                                                          /* css mobile  */
/* ------------------------------------------------------------------------------------------------------------------------------- */

.menu{
  bottom:0;
  text-align: center;
}
.menu-content , .menu-content ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height:100vh;
}
.menu-content {
  padding-top: 3rem;
  height:100vh;
}
.menu{
  display: none;
}

.close-menu-label::after{
  content: '☰';
  position: fixed;
  z-index: 2;
  top:2rem;
  right: 2rem;
  background: var(--primary-color);
  color: var(--white);
  line-height: 3rem;
  height: 3rem;
  width: 3rem;
  text-align: center;
  padding: unset;
  cursor: pointer;

}
.close-menu:checked ~ .menu{
  display: block; 
}

.close-menu:checked ~ .close-menu-label::after{
  content: '✖';
}
.menu-spacing{
  display: none;
}


}


